# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
mybot/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FAISS / embeddings storage
Faissstore/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# VSCode / IDE settings
.vscode/
.idea/
